@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #eef4fe;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* полоса прокрутки */
*::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 6px; /* ширина scrollbar */
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: #80b6ff; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
}

 /* Спиннер загрузки */
 
 /* Вариант первый */
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 4%;
  left: 35%;
  text-align: center;
  width: 25px;
  height: 25px;
  border: 2px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Вариант второй */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #4b4b4b;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

